# IntelliJ
.idea/
*.iws
*.iml
**/*.iml
*.ipr
*.blk
*.blk.gz
*.inf
*.sum
data/*
build/

.vscode/
*.code-workspace
*.sublime-workspace
*.sublime-project
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
src/orisun/data/

#Eclipse
.springBeans
.classpath
.settings/
.loadpath
.project

./bin
.project
clients/java/.gradle/