parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - generated/*
    ignoreErrors:
        # Ignore gRPC generated code issues
        - '#Call to an undefined method.*#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false